.fade-in-modal-button {
    display: inline-block;
    padding: 10px;
    animation: fadeinModal 1s;
    -moz-animation: fadeinModal 1s; /* Firefox */
    -webkit-animation: fadeinModal 1s; /* Safari and Chrome */
    -o-animation: fadeinModal 1s; /* Opera */
  }
 
  .Popup:hover {
    transform: scale(1.2); /* Adjust the scale factor as needed */
  }

  .fixed-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
  }

  .fade-in {
    animation: fadein 0.5s ease-in-out forwards;
    -moz-animation: fadein 0.5s ease-in-out forwards; /* Firefox */
    -webkit-animation: fadein 0.5s ease-in-out forwards; /* Safari and Chrome */
    -o-animation: fadein 0.5s ease-in-out forwards; /* Opera */
}

@keyframes fadein{
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeinModal {
    from {
        opacity:0;
        
    }
    to {
        opacity:1;
        /* scale: 1.1; */
    }
}
.bounce {
    animation: bounce 1.5s ;
    -moz-animation: bounce 1.5s ; /* Firefox */
    -webkit-animation: bounce 1.5s ; /* Safari and Chrome */
    -o-animation: bounce 1.5s ; /* Opera */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.rotate {
    animation: rotate 0.5s linear;
    -moz-animation: rotate 0.5s linear; /* Firefox */
    -webkit-animation: rotate 0.5s linear; /* Safari and Chrome */
    -o-animation: rotate 0.5s linear; /* Opera */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.slide-from-left {
    animation: slideFromLeft 0.8s ease-in-out;
    -moz-animation: slideFromLeft 0.8s ease-in-out; /* Firefox */
    -webkit-animation: slideFromLeft 0.8s ease-in-out; /* Safari and Chrome */
    -o-animation: slideFromLeft 0.8s ease-in-out; /* Opera */
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.slide-from-right {
    animation: slideFromRight 0.8s ease-in-out;
    -moz-animation: slideFromRight 0.8s ease-in-out; /* Firefox */
    -webkit-animation: slideFromRight 0.8s ease-in-out; /* Safari and Chrome */
    -o-animation: slideFromRight 0.8s ease-in-out; /* Opera */
}

.slide-to-left{
    animation: slideToLeft 0.8s ease-in-out;
    -moz-animation: slideToLeft 0.8s ease-in-out; /* Firefox */
    -webkit-animation: slideToLeft 0.8s ease-in-out; /* Safari and Chrome */
    -o-animation: slideToLeft 0.8s ease-in-out; /* Opera */

}

@keyframes slideToLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }


@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}